body {
  font-family: 'Montserrat', sans-serif;
  background: #121212; /* Dark mode background */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.button {
  background: #1e1e1e;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  width: 250px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.button:hover {
  background: #333;
  transform: scale(1.05);
  color: #ffd700; /* Gold color for the title */
}
