body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
}
p {
  font-size: 18px;
}
.button {
  padding: 10px 20px;
  background-color: #2694b3;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; /* Ensure consistent sizing */
  font-size: 16px; /* Match input and text size */
}
.button:hover {
  background-color: #1e7b96;
}
input {
  padding: 5px;
  font-size: 16px;
}